.event-record {
    flex-wrap: wrap;
    border: inherit;
    border-radius: 8px;
    border-color: black;
    border-left: 3px;
    margin: 2rem 3vw 0.5rem 3vw;
    overflow: auto;
}
@media screen and (min-width: 730px) {
    .event-record {
        width: 80%;
        margin: 2rem auto 0.5rem auto;
    }
}

.event-header {
    margin: 3vh auto 3vh auto;
    display: flex;
    position: sticky;
}
.event-header-button {
    margin: auto 0 auto 0;
    height: fit-content;
}
.event-header-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: auto;
}
.event-header-status {
    float: right;
    border-radius: 8px;
    border-style: solid;
    font-size: 0.8rem;
    text-align: center;
    padding: 2px 8px;
    font-weight: bold;
    height: fit-content;
    margin: auto 8px auto 2px;
}
.event-status div {
    font-style: italic;
}
/*.event-status.Canceled {
    background-color: red;
}
.event-status.Finished {
    background-color: blueviolet;
}
.event-status.Undefined {
    background-color: grey;
    color: white;
}*/

.event-imgblock {
    object-fit: cover;
    overflow: hidden;
    border: inherit;
    border-color: red;
    margin: 0 auto 1vh auto;
    width: 90%;
}
.event-imgdiv {
    display: flex;
    margin: 0 auto 0 auto;
    width: 100%;
    min-width: 300px;
    min-height: 213px;
    border: inherit;
    align-content: center;
}
.event-chgbtn {
    display: none;
}
.event-imgdiv:hover .event-chgbtn {
    display: inline-block;
    position: absolute;
}

.event-element {
    margin: 3vh 3vw;
    min-width: 280;
}
.event-head {
    font-weight: bold;
    font-size: 1.2rem;
    border-left: royalblue;
    margin: 1.2rem 0.5rem 0.5rem 0.5rem;
}
.event-value {
    font-size: 1rem;
    margin: auto 0.5rem 1rem;
    text-align: justify;
}

.event-map {
    object-fit: cover;
    overflow: hidden;
    border: inherit;
    margin: 0 1rem 1vh auto;
    padding-left: 0.5rem;
}

/* Calendar block */
.event-calendar {
    width: 98%;
    min-height: 60%;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --fc-small-font-size: .6em;
    --fc-page-bg-color: black;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: goldenrod;
  
    --fc-button-text-color: goldenrod;
    --fc-button-bg-color: black;
    --fc-button-border-color: rgba(128, 128, 128, 0.322);
    --fc-button-hover-bg-color: rgba(211, 211, 211, 0.11);
    --fc-button-hover-border-color: grey;
    --fc-button-active-bg-color: rgba(128, 128, 128, 0.265);
    --fc-button-active-border-color: black;
  
    --fc-event-bg-color: black;
    --fc-event-border-color: black;
    --fc-event-text-color: goldenrod#000000;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: black;
    --fc-more-link-text-color: goldenrod;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color:  rgba(218, 165, 32, 0.247);
    --fc-now-indicator-color: red;
  
    --fc-daygrid-event-dot-width: 8px;
  
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: rgba(128, 128, 128, 0.176);
  }

#fc-dom-1 {
    font-size: 1.2rem;
    text-align: center;
}
.fc-icon {
    color: goldenrod;
}
.fc-direction-ltr {
    width: 100%;
    min-width: 310px;
}
.fc-event-title {
    cursor: pointer;
    font-weight: bold;
}
.fc-view-harness {
    margin: 0, 10px, 0, 10px;
}
.fc-button {
    margin-left: 8px;
}
.fc-list-table  {
    width: 100%;
    margin: 0%;
  }

@media screen and (min-width: 768px) {
    .event-imgblock {
        float: right;
        margin: 3px 3px 1vh 3vw;
        width: 40%;
        max-width: 489;
    }
    .event-calendar {
        width: 80%;
        margin-left: auto;
        margin-right: 1vw;
    }
    .fc-event-title {
        white-space: pre-wrap;
    }
}
