.footer {
    height: fit-content;
    display: grid;
    grid-template-columns: 150px 1fr 90px;
    background-color:rgba(218, 165, 32, 0.69);
    font-size: 0.88rem;
    color: black;
    margin-top: 1vh;
    padding: 1vw 1vh;
}

.footer-copyright {
    color: inherit;
    align-items: center;
}
.footer-links {
    width: auto;
    max-width: 680px;
    align-items: center;
}
.footer-link {
    min-width:120px;
    display: inline-block;
    margin-left: 8px;
}
.footer * {
    color: inherit;
}
.footer-icons {
    color: inherit;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
}

