.gall {
    width: 90%;
    margin: 5vh auto 5vh auto;
    max-width: 808px;
    height: fit-content;
/*    border: 1px solid white; */
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid goldenrod !important;
}
.MuiSelect-icon {
  fill: goldenrod;
}
.MuiSelect-select {
  text-align: center;
  color: goldenrod;
  border-color: goldenrod;
}
.MuiMenu-list {
  background-color: rgba(218, 165, 32, 0.511);
}

.gall-header {
  width: 100%;
  display: flex;
}

.gall-center * {
  margin-left: auto;
  margin-right: auto;
  width: 380px;
}

.gall-carousel {
  height: fit-content;
  width: auto;
  min-height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.gall-divider {
 margin-top: 8vh;
 text-align: center;
 background-color: rgba(218, 165, 32, 0.735);
}


.viewer {
  position: fixed;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 9888;
  color: black;
  cursor: pointer;
}

.viewer-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  background: none;
  cursor: pointer;
}

.imagset img {
  cursor: pointer;
}
@media screen and (min-width: 580px)  {
  .viewer-img {
    width: 80%;
  }
}

@media screen and (min-width: 768px)  {
  .viewer-img {
    width: 60%;

  }
}
@media screen and (min-width: 1200px)  {
  .viewer-img {
    width: 40%;
  }
}

.button {
  cursor: pointer;
  height: 1.9rem;
  margin: 0.75rem 3px;
  padding: auto 3px;
  border: none;
  white-space: nowrap;
  color: goldenrod;
  &:disabled {
    color: grey;
    cursor: default;
  };
}