@import url('language-select.css');
@import url('main.css');
@import url('navbar.css');
@import url('footer.css');
@import url('events.css');
@import url('post.css');
@import url('anime.css');
@import url('gallery.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@font-face {
  font-family: 'Kollektif';
  src:
    url('fonts/Kollektif.ttf.eot'),
    url('fonts/Kollektif.ttf.eot?#iefix') format('embedded-opentype'),
    url('fonts/Kollektif.ttf.woff') format('woff'),
    url('fonts/Kollektif.ttf.svg#Kollektif') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  background: none;
  color: goldenrod;
  font-family: 'Kollektif', 'Roboto', Arial, Helvetica, sans-serif;
  background-color: none;
}

body {
/*  padding-top: 200px; */
  background-color: black;
}

.main-div {
  margin-top: 0;
  width: 100%;
  top: 0;
  height: 480px;
}

.block-title {  
  font-size: 2rem;
  margin: 2rem auto rem auto;
}
.block-heading_1 {
  font-size: 1.8em;
  margin: 1.8rem auto 0.9rem auto;
}
.block-heading_2 {
  font-size: 1.5em;
  margin: 1.5rem auto 0.75rem auto;

}
.block-heading_3 {
  font-size: 1.2rem;
  margin: 1.2rem auto 0.6rem auto;
}
.block-paragraph, .block-rich_text {
  text-align: justify;
  margin: auto auto 1rem auto;
  color: inherit;
}
.block-bulleted_list_item, .block-numbered_list_item{
  margin-left: 1em;
}
.block-bulleted_list_item::before, .block-numbered_list_item::before {
  content: '- ';
}
.block-quote {
  border-left: 3px;
  border-left-style: solid;
  margin-left: 1em;
  padding: 0.5em;
  background-color: rgba(219, 213, 20, 0.094);
}

.page {
  color: inherit;
}
