/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: fit-content;
    font-size: small;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropdown div {
  white-space: nowrap;
  margin: 0;
}

.dropbtn {
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
<<<<<<< HEAD
    background-color: #f1f1f1;
=======
    background-color: goldenrod;
>>>>>>> 92377ee (Black theme)
    right: 3px;
}

.dropdown img {
  height: 30px;
}

.dropdown-content a{
  display: flex;
  align-items: left;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  padding: 10px;
<<<<<<< HEAD
=======
  color: black;

>>>>>>> 92377ee (Black theme)
}

.dropdown-content img {
  height: 30px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  font-weight: bold;
<<<<<<< HEAD
  background-color: dodgerblue;
=======
  background-color: grey;
>>>>>>> 92377ee (Black theme)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
