/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: fit-content;
    font-size: small;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none; /*1px solid greenyellow;*/
    position: relative;
    float: right;
    margin-right: 1vw;
}
.dropdown div {
  white-space: nowrap;
  margin: 0;
  border: inherit;
}

.dropbtn {
  cursor: pointer;
  border: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: goldenrod;
    right: 3px;
    border: inherit;
}

.dropdown-content a{
  display: flex;
  align-items: left;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  padding: 10px;
  color: black;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: grey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
