
.first-title {
  text-align: center;
  margin: 10% auto 200px auto;
  font-size: 10vh;
  word-wrap: break-word;
  color: gold;
  text-shadow:black 1px 3px 3px;
}

.error404 {
  text-align: center;
  color: darkred;
  margin-top: 10vh;
}
