
.first-title {
  text-align: center;
  margin: 10% auto 280px auto;
  font-size: 8vh;
  word-wrap: break-word;
  text-shadow:grey 1px 3px 3px;
  background: none;
  letter-spacing: 10px;
}

.error404 {
  text-align: center;
  color: darkred;
  margin-top: 10vh;
}

@media screen and (max-width: 480px) {  
  .first-title{
    font-size: 6vh;
    letter-spacing: 6px;
  }
}

@media screen and (max-width: 369px) {  
  .first-title{
    font-size: 4vh;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 300px) {  
  .first-title{
    font-size: 3vh;
    letter-spacing: 3px;
  }
}