.mediatek {
    width: 90%;
    margin: 5vh auto 1vh auto;
    max-width: 800px;
    height: fit-content;
/*    border: 1px solid white; */
    align-items: center;
}

.MuiSelect-icon {
  fill: black;
}
.MuiSelect-select {
  text-align: center;
}

.media-header {
  width: 100%;
  display: flex;
}
  