a {
  text-decoration: none;
}

.nav-header {
  position: -webkit-sticky; /* Safari */ 
  position: sticky;
  z-index: 30;
  top: 0;
  width: 100%;
  height: 69px;
  margin-bottom:210px;
  display: inline-block;
  background: none;
/*  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 60%);*/
  border: none; /*1px solid white; */
}
.logo {
  float: left;
  border: inherit;
  position: absolute;
}

.logo img {
  display: flex;
  width: auto;
  border: inherit;
  margin: 20px;
}
.nav {
  position: relative;
  display: block;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  float: right;
  border: inherit;
  background: none;
}
.nav-bar{
  display: flex;
  float: left;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  margin: 24px 12px 0 auto;
  border: inherit;

}
.nav-bar div{
  width: 40px;
  height: 4px;
  background-color: goldenrod;
  border-radius: 2px;
}
.nav-list{
  display: flex;
  flex-direction: column;
  float: left;
  position: fixed;
  top: 68px;
  min-width:210px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  text-align: left; 
  background: black;
  border: 0px;
  border-left: 2px;
  border-color: goldenrod;
  border-style: solid;
  border-radius: 8px;
}
.nav-list.drpdown{
  right: 0;
}
.nav-list div {
  border: inherit;
  font-size: 0.8rem;
}

.nav-item {
  display: flex;
  font-weight: normal;
  font-size: 1rem; 
  position: relative;
  margin-right: 3vw;
  padding: auto;
  transition: all 0.2s;
  border: inherit;
}
.nav-item-div {
  color: inherit;
  display:inline-block;
  height: fit-content;
  margin: auto 0;
  border: inherit;
}

.nav-item:hover{
  color:rgb(224, 190, 109);
 }
 
.nav-item.active {
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
}

.nav-end {
  display: inline;
  border: inherit;
  float: right;
  padding: 28px 2px 0 0px;
  border: inherit;
}

.whatsapp-link {
  display: relative;
  border: inherit;
  margin-top: 8vh;
  background: none;
}
.whatsapp-tip {
  display: none;
  position: absolute;
  background: goldenrod;
  color: black;
  padding: 8px;
  right: 0px;
  border: 1px solid;
  border-radius: 8px;
}
.whatsapp-link:hover .whatsapp-div {
  display: block;
}


@media screen and (min-width: 880px) {  
  .nav-bar{
    display: none;
  }
  .nav-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    max-height: 68px;
    width: fit-content;
    column-gap: 24px;
    align-items: left;
    border-left: 0px;
    background: none;
  }
  .nav-link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  .nav-link:hover::before{
   width: 100%;
  }
}

@media screen and (max-width: 369px) {  
  .logo img{
    height: 120px;
  }
  .whatsapp-link {
    height: 36px;
  }
}