a{
  text-decoration: none;
  color: inherit;
}
nav-header {
  position: fixed;
  z-index: 30;
  top: 0;
}
nav{
  position: fixed;
  z-index: 30;
  top: 0;
  width: 100%;
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  text-align: center;height: 68px;
  height: 68px;
  background-color: white;
 /* border: 2px;
  border-style: solid;*/
}
.logo {
  display: flex;
}
.nav-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  margin-right: 12px;
}
.nav-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 68px;
  min-width: 30%;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  text-align: left;
  background-color: white;
  border: 0px;
  border-left: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
}
.nav-list.dropdown{
  right: 0;
}
.nav-list div {
  border: 0px;
  border-style: solid;
}

.nav-list div:hover{
 font-weight: bold;
}

.nav-item {
  display: flex;
  font-weight: normal;
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
  color: black;
  vertical-align: middle;
}
.nav-item.active {
  font-weight: bold;
}

@media screen and (min-width: 870px) {  
  .nav-bar{
    display: none;
  }
  .nav-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    max-height: 68px;
    width: fit-content;
    column-gap: 24px;
    align-items: left;
    border-left: 0px;
  }
  .nav-link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav-link:hover:before{
   width: 100%;
  }
}