
.post-list {
    width: 80%;
    margin: 3vh auto 3vh auto;
    justify-content: center;
  }
  
  .post-list-item {
    max-width: 680px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8vh;
  }

.post-title {
    font-size: 3rem;
    font-weight: bold;
}

.post-h1 {
    font-size: 2rem;
    font-weight: bold;   
}
.post-h2 {
    font-size: 1.5rem;
    font-weight: bold;   
}

.post-h3 {
    font-size: 1.2rem;
    font-weight: bold;   
}
.post-text {
    text-align: justify;
    margin-top: 3vh;
}
